.schedule { 
    display: table; 
    border-collapse: collapse;
    margin: 0;
    width: auto;
}

.schedule .week { 
    display: table-row;
}
.schedule .headerContainer { 
    display: table-cell; 
    padding: 2px;
    border-bottom: solid 1px;
    width: 6em;
}
.schedule .header { 
    text-align: center;
}
.schedule .matchContainer, .schedule .noMatchContainer { 
    display: table-cell; 
    padding: 2px;
    border-bottom: solid 1px;
}
.schedule .location {
    font-size: smaller;
}
.schedule .separator {
    display: none;
}
.schedule .date {
    font-size: smaller;
}

@media only screen and (max-width: 480px) {
    .schedule {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .schedule .week {
        display: block;
    }

    .schedule .headerContainer {
        display: table;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.25);
    }
    .schedule .headerContainer .header {
        padding-top: 10px;
    }

    .schedule .header {
        display: table-cell;
        padding: 2px;
        border-bottom: solid 1px;
        font-weight: bold;
        font-size: inherit;
    }

    .schedule .headerPart {
        display: inline;
        font-size: inherit;
    }
    .schedule .header .weekNumber:after {
        content: "-";
        /* float: left; */
    }
    .schedule .header .date {
        /* float: right; */
    }
    .schedule .matchContainer, .schedule .noMatchContainer {
        display: table;
        width: 100%;
    }
    .schedule .noMatchContainer {
        text-align: center;
        font-size: 11pt;
        font-style: italic;
    }
    .schedule .noMatchContainer.blank {
        display: none;
    }
    .schedule .match { 
        display: table-row;
        border-bottom: solid 1px;
        white-space: normal;
    }
    .schedule .matchPart {
        display: table-cell;
        width: 50%;
        padding: 4px;
    }
    .schedule .matchPart.location {
        width: 25%;
    }
}

.schedule .pastWeeks {
    display: none;
}

.schedule .nextWeek {
    border: solid yellow 2px;
}
