.scoresheet {
    display: inline-block;
}

.scoresheet .dateBox {
    border: solid 1px;
    width: 15em;
    height: 3em;
}

.scoresheet .table {
    display: inline-table;
    border-collapse: collapse;
}

.scoresheet .row {
    display: table-row;
}

.scoresheet .cell {
    display: table-cell;
    border: solid 1px;
    height: 3em;
    width: 4em;
    vertical-align: middle;
}

.scoresheet .score, .scoresheet .paid, .scoresheet .handicap, 
.scoresheet .total, .scoresheet .totalHandicap, .scoresheet .teamHandicap,
.scoresheet .totalScore, .scoresheet .overallTotal {
    text-align: center;
}

.scoresheet .number {
    width: auto;
    text-align: center;
    display: none;
}

.scoresheet .blank {
    border: none;
}

.scoresheet .header {
    height: 1.5em;
    text-align: center;
}

.scoresheet input {
    text-align: center;
}

.scoresheet .date, .scoresheet .teamNameValue {
    font-weight: bold;
    font-size: 10pt;
    display: inline-block;
    padding: .5em;
}

.scoresheet .teamSection {
    margin-top: 2em;
    white-space: nowrap;
    width: 650px;
}

.scoresheet .teamName {
    border: solid 1px;
    height: 3em;
}

.scoresheet .doubles .score, .scoresheet .doubles .totalScore {
    height: 6em;
}

.scoresheet .caption, .scoresheet .teamRoster .caption {
    display: table-caption;
    border: solid 1px;
    height: 1.5em;
    text-align: center;
}

.scoresheet .totals .cell {
    border-top: double 3px;
}

.scoresheet .totals .blank {
    border-top: none;
}

.scoresheet .score, .scoresheet .paid, .scoresheet .handicap { width: 4em; }

.scoresheet .teamPlayers .playerName { width: 15em; }

.scoresheet .teamRoster {
    border: solid 1px;
    margin-top: 0;
    width: 123px;
}

.my8ballscotch .teamRoster {
    width: auto !important;
}

.scoresheet .teamRoster .playerName { 
    white-space: normal;
    padding-left: 1em;
    text-indent: -1em;
}

.scoresheet .teamRoster div {
    width: auto;
    padding: 0 2px;
    border: none;
    height: auto;
}

.singlesHandicaps, .doublesHandicaps, .activeDoublesHandicap {
    display: inline-table;
    margin-right: 1em;
    float: left;
    width: auto;
}

.activeDoublesHandicap .row {
    display: table-row;
}

.activeDoublesHandicap .cell {
    display: table-cell;
    text-align: center;
}

.singlesHandicaps .caption, .doublesHandicaps .caption, .activeDoublesHandicap {
    font-weight: bold;
    display: table-caption;
    text-align: left;
    white-space: nowrap;
}

.singlesHandicaps .player, .doublesHandicaps .doubles {
    display: table-row;
}

.singleHandicaps .player div, .doublesHandicaps .doubles div {
    display: table-cell;
}

@media (max-width: 642px) {
    /*
    .table.teamPlayers, .table.rounds {
        display: none;
    }

    .table.teamRoster {
        width: 100%;
    }

    .teamSection {
        display: inline-block;
        float: left;
        padding-right: 10px;
    }
    */
}
    
.matchNumber { float: left; font-size: 5pt; vertical-align: top; border-right: solid 1px; width: 1.5em; height: 100%; }
